.main_container{
    max-width: 80vw;
    height: 100vh;
    margin-left: 320px;
    margin-right: 56px;
}

.header_navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    margin: 10px;
    border-radius: 8px;
    background-color: #121212;
    padding: 12px;
  }
  
  .header_navigation .navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .header_navigation .navigation .arrow_left {
    margin-right: 1.25rem;
  }
  
  .arrow_left,
  .arrow_right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background: var(--bg-icon);
    background-color:var(--bg-arrow-color);
    border-radius: 50%;
    border: none;
    cursor: pointer;
  }
  
